6.00SC-Introduction to Computer Science and Programming/
6.0001-Introduction to Computer Science and Programming in Python/
6-0002-Introduction to Computational Thinking and Data Science/
6-006-Introduction to Algorithms/
6-042j-Mathematics for Computer Science/
