/******************************************************************************
 *
 * Chapter (list of chapter for the lesson right after title)
 *
 *****************************************************************************/

.chapter-table
{
	padding: 10px 0px 20px 0px;
	border: 1px none green;
	box-sizing: border-box;
	width: 100%;
	display: table;
}

.chapter-row
{
	display: table-row;
	height: 32px;
	width: 100%;
}

.chapter-cell
{
	display: table-cell;
	border: 1px none red;
	vertical-align: middle;
	width: 100%;
}

/******************************************************************************
 *
 * Titles of lesson and chapter (top)
 *
 *****************************************************************************/

.lesson-title
{
	text-align: center;
	color: rgb(70, 70, 70);
	display: inline-block;
	font-weight: lighter;
	font-size: 28px;
	padding: 20px 0px;
	width: 100%;
	border: 1px none red;
	box-sizing: border-box;
}

.lesson-chapter
{
	text-align: center;
	display: inline-block;
	font-weight: 300;
	font-size: 22px;
	padding: 10px 0px;
	margin: 0px auto;
	border: 1px none red;
	color: rgb(110, 110, 110);
	width: 100%;
}

/******************************************************************************
 *
 * Define all styles for the content of the page
 *
 *****************************************************************************/
 
.page-content
{
	margin: 0px auto;
	width: 670px;
	box-sizing: border-box;
	border: 1px none red;
	color: rgb(50, 50, 50);
}

.page-content h2
{
	font-size: 20px;
	clear: both;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.page-content h3
{
	font-size: 16px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	font-style: italic;
}

.page-content p
{
	font-size: 16px;
	line-height: 24px;
	margin: 0px 0px 10px 0px;
	border: 1px none orange;
}

.page-content a
{
	text-decoration: none;
	color: #1565C0;
}

.page-content ul
{
	font-size: 16px;
	line-height: 24px;
	margin: 0px 0px 10px 0px;
}

/* style everythng but the last element in the list */
.page-content li:not(:last-child)
{
	padding-bottom: 10px;
}

/** IMPORTANT **/

.important
{
	border-left: 4px solid #2196F3;
	padding-left: 10px;
	margin: 10px 0px 10px 0px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 24px;
}

/** QUESTION **/

.question
{
	background-color: #CFD8DC; /* blue-grey */
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	margin: 0px 0px 10px 0px;
	width: 100%;
}

/* CODE */

.code
{
	overflow: auto;
	font-family: fixed, monospace;
	font-size: 13px;
	line-height: 20px;
	background-color: #E3F2FD; /* rgb(200, 220, 250); */
	white-space: pre;
	box-sizing: border-box;
	margin: 0px 0px 18px 0px;
	clear: both;
}

.code-inline
{
    display: inline-block;
	margin: 0px;
	font-family: fixed, monospace;
	font-size: 15px;
	background-color: #E3F2FD;
	white-space: pre-wrap;
	padding: 2px;
	line-height: 90%;
}

/** 
 **  Used for block of code you want to insert in the page without necessarily
 **  usuing the line numbers, etc.
 **/
.code-basic
{
    display: table;
    white-space: pre-wrap;
    font-family: fixed, monospace;
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 20px;
    background-color: #E3F2FD;
    padding: 2px 10px 2px 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}


/* QUOTE */

.scratchquote
{
	border-left: 4px solid rgb(200, 200, 200);
	color: rgb(130, 130, 130);
	font-size: 16px;
	line-height: 24px;
	padding-left: 10px;
	margin: 0px 0px 10px 0px;
	line-height: 24px;
}

/* IMAGES */

.right
{
	float: right;
	margin-left: 10px; /* top right bottom left */
}

.left
{
	float: left;
	margin-right: 10px;
}

.captionImage
{
	display: inline-block;
	padding: 0px;
	text-align: center;
	margin: 10px;
	clear: both;
}

.captionImage img
{
	border-bottom: 20px none #2196F3;
}

.captionImage p
{
	margin: 5px 0px 2px 5px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}

/***************************************************************************************************
 **
 **	Tables in chapters
 **
 **************************************************************************************************/

.table-basic
{
	width: 100%;
	border: 2px none rgb(100, 100, 100);
	text-align: center;
	border-collapse: collapse;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.table-basic th
{
	background-color: rgb(230, 230, 230);
	padding: 10px;
	text-align: center;
}

.table-basic td
{
	vertical-align: middle;
	padding: 10px;
	text-align: left;
}

.table-basic td, tr, th
{
	border: 1px none rgb(100, 100, 100);
}

/******************************************************************************
 *
 * Define all styles for the footer
 *
 *****************************************************************************/

.footer-prev-next
{
	display: inline-block;
	border: 1px none purple;
	width: 100%;
	margin: 0px;
	height: 50px;
	background-color: #1565C0;
	color: white;
	/* box-shadow: 0px 3px 5px rgb(170, 170, 170); */
	box-sizing: border-box;
}

.footer-column
{
	display: table;
	border: 1px none green;
	width: 670px;
	height: 100%;
	margin: 0px auto;
}

.footer-prev-next-row
{
	display:table-row;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.footer-prev-next-cell
{
	display: table-cell;
	width: 33%;
	border: 1px none red;
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
}

.footer-prev-next-cell p
{
	padding: 0px;
	margin: 0px;
}

.footer-prev-next-cell a
{
	text-decoration: none;
	color: white;
	padding: 0px;
	margin: 0px;
}
