# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class


# IPython Notebook
.ipynb_checkpoints



# virtualenv
venv/
ENV/




# Emacs
*~


# Temporary data files
notebooks/recipeitems-latest.json
notebooks/FremontBridge.csv
notebooks/gistemp250.nc
notebooks/marathon-data.csv
notebooks/my_figure.png
notebooks/hello.png