papers/stereophoto/stereophoto_workshop.zip
papers/hidden-attractors/figure7.zip
papers/SriLanka/example1.zip
papers/hidden-attractors/figure2c.zip
papers/hidden-attractors/figure5abc.zip
papers/hidden-attractors/figure4a.zip
papers/hidden-attractors/figure2d.zip
papers/SriLanka/example2.zip
papers/ACM2016/singaporelion.zip