* {
   font-family: Arial, Helvetica, Sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: normal;
   line-height: 150%;
   text-indent: 0em;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 0px;
   margin-right: 0px;
}

body {
   background-color: #000000;
   color: #ffffff;
}

A:link {text-decoration: none; color: #ccccff;}
A:visited {text-decoration: none; color: #ccffcc;}
A:active {text-decoration: none; color: #ccccff;}
A:hover {text-decoration: none; color: #ffcccc;}

i {
	font-style: italic;
   margin-top: 15px;
   margin-bottom: 15px;
   text-indent: 0em;
}

sup {
   font-size: 14px;
}
sub {
   font-size: 14px;
}

p {
   margin-top: 15px;
   margin-bottom: 15px;
	text-indent: 0em;
}

smalltext {
   font-size: 14px;
}

p.smaller {
   font-size: 14px;
}

b {
   font-weight: bold;
	text-indent: 0em;
}

blockquote {
	margin-top: 20px;
	margin-bottom: 20px;
   margin-left: 50px;
   margin-right: 50px;
   color: #880000;
}

pre, code {
	line-height: 120%;
	font-family: Courier, monospace;
	font-size: 14px;
}

H1 { 
	line-height: 125%;
	letter-spacing: 0.1em;
	font-size: x-large;
   margin-top: 15px;
   margin-bottom: 15px;
}

H2 {                    
	letter-spacing: 0.1em;
	font-size: large;
   margin-top: 10px;
   margin-bottom: 10px;
}

H3 {                    
	letter-spacing: 0.1em;
	font-size: large;
   margin-top: 5px;
   margin-bottom: 5px;
}

H4 {
	font-size: medium;
	font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
}

H5 {
   font-size: medium;
	font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
}

H6 {
   font-size: normal;
	font-weight: bold;
   margin-top: 5px;
   margin-bottom: 5px;
}

form {
	margin: 0px;
	padding: 0px;
}

